<div class='text-center'>
	<h1>Welcome to venture</h1>
	
	<br><br>

	<%= link_to "Signup", '/signup', class: 'btn btn-success' %> or
	<%= link_to "Login", '/login', class: 'btn btn-primary' %>
</div>
